.current-order{
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.item{
    display: flex;
    width: 700px;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-item-order);
    padding: 0.5rem;
    border-radius: 6px;
}

.container-image{
   display: flex;
   cursor: pointer;
}

.item-image{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 8%;
    border: 3px solid var(--bg-primary);
}

.container-description{
    width: 30%;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    justify-content: space-around;
}

.container-extra{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.badge-extra{
    height: 32px;
    width: 32px;
    align-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: var(--bg-tertiary);
    color: var(--color-secondary);
    text-align: center;
    border-radius: 50%;
}

.extra-qty{
    height: 32px;
    width: 32px;
    align-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: var(--bg-primary);
    text-align: center;
    border-radius: 50%;
}

.container-main-qty{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.badge-main{
    height: 32px;
    width: 32px;
    align-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: var(--bg-tertiary);
    color: var(--color-secondary);
    text-align: center;
    border-radius: 50%;
}

.item-qty{
    height: 32px;
    width: 32px;
    align-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: var(--bg-primary);
    text-align: center;
    border-radius: 50%;
}

.container-delete{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.delete-icon{
    color: var(--color-primary);
    font-size: 1.6rem;
    
}

