.current-order{
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.item{
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(63, 50, 50, 0.514);
    padding: 0.5rem;
    border-radius: 6px;
}

.container-image{
   display: flex;
   cursor: pointer;
}

.item-image{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 8%;
    border: 3px solid rgb(245, 161, 51);
}

.container-description{
    width: 50%;
    color: wheat;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    justify-content: space-around;
}

.container-qty{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-qty{
    height: 32px;
    width: 32px;
    align-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background-color: rgb(245, 161, 51);
    text-align: center;
    border-radius: 50%;
}

.container-delete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.delete-icon{
    color: wheat;
    font-size: 1.6rem;
    
}

