.product-container{
    display: flex;
}

.l-container{
    width: 25%;
}

.r-container{
    width: 75%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 0.5rem;
    margin-bottom: 20px;
}


.loading-products{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.product{
    margin: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--bg-primary);
    border-radius: 6px;
    width:  250px;
    text-align: center;
    padding: 5px;
    color: var(--color-secondary);
    background-color: rgb(14, 16, 27);
    opacity: 0.5;
    transition: 0.4s;
    
}
