.product-img{
    width: 230px;
    height: 170px;
}

.product:hover{
    opacity: 1;
    box-shadow: 1px 4px 8px var(--bg-primary);
    
}

.product-name{
    color: var(--color-secondary);
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

.product-shopping{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
}

.ps-top{
    display: flex;
    flex-direction: column;
    width: 225px;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 240px;
    margin-bottom: 0.5rem;
}

.ps-qty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.4rem;
    font-size: 1.2rem;
    width: 42px;
    height: 42px;
    background-color: var(--bg-primary);
    border-radius: 50%;
    color: var(--bg-quaternary);
    font-family: 'Oswald', sans-serif;
    
    
}

.ps-add{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.6rem;
    font-size: 1.4rem;
    border-radius: 50%;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    background-color: var(--bg-quaternary);
    color: var(--bg-primary);
}

.ps-add:hover{
    color: #201f1f;
    background-color: var(--bg-primary);
}

.ps-remove{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.6rem;
    font-size: 1.4rem;
    border-radius: 50%;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    background-color: var(--bg-quaternary); 
    color: var(--bg-primary);
}

.ps-remove-disabled{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.6rem;
    font-size: 1.4rem;
    border-radius: 50%;
    font-family: 'Oswald', sans-serif;
    cursor: default;
    background-color: var(--bg-dark-gray);
    color: var(--color-gray);
}

.ps-remove:hover{
    color: var(--bg-quaternary);
    background-color: var(--bg-primary);
}

.product-description{
    color: var(--color-secondary);
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-style: italic;

}

.product-price{
    color: var(--color-cuaternary);
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}



